.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 180px;
}

.hero h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 82px;
  line-height: 1;
  margin: 30px 0 30px;
}

.hero h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  margin: 0;
}

.hero h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 5px;
  line-height: 1;
  margin: 0;
}

.hero-learn-more-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  border-radius: 5px;
  line-height: 1;
  color: #272044;
  text-transform: uppercase;
  padding: 16px 32px;
  background-color: white;
  text-decoration: none;
  text-align: center;
  margin-top: 32px;
  display: inline-block;
}

@media (max-width: 900px) {
  .hero {
    padding: 60px 0;
  }

  .hero h1 {
    font-size: 48px;
  }
  .hero h2 {
    font-size: 20px;
  }
  .hero h3 {
    font-size: 12px;
  }

  .hero-learn-more-link {
    font-size: 12px;
    padding: 10px 20px;
  }
}
